*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 1000px;
    background-color: #01497c;
    margin: 0 auto;
}
header{
    border-radius: 5px;
    background-color: #cddafd;
    height: auto;
    display: flex;
}
header h1{
    margin-top: 10px;
}

header p{
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

header img{
    width: 200px;
    margin-right: 30px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
nav{
    background: rgb(217,222,249);
    background: radial-gradient(circle, rgba(217,222,249,1) 0%, rgba(201,233,198,1) 14%, rgba(238,218,204,1) 23%, rgba(215,192,214,1) 36%, rgba(221,238,228,1) 51%, rgba(227,202,232,1) 67%, rgba(222,200,224,1) 79%, rgba(227,201,210,1) 89%, rgba(228,190,198,0.958420868347339) 100%);
    height: 50px;
    width: 990px;
    float: auto;
    border-radius: 5px;
    padding: 5px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li{
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    margin-right: 0px;
    border-radius: 20px;
}
main section{
    height: 100px;
}
article{
    background-color: #ff4d6d;
    border-radius: 5px;
    width: auto;
    height: auto;
}
#Seccion{
    background-color: #a8dadc;
    border-radius: 5px;
    margin-top: 5px;
    min-height: 450px;
}
#Seccion img{
    align-items: center;
}

section h1{
    margin-left: 10px;
}

section h2,h3{
    margin-left: 15px;

}

section p{
    font-size: 18px;
    margin-left: 15px;
}
section ul li{
    margin-left: 40px;
    font-size: 16px;
}

#Seccion1{
    background-color: #a8dadc;
    border-radius: 5px;
    margin-top: 5px;
    min-height: 700px;
}

#Seccion2{
    background-color: #a8dadc;
    border-radius: 5px;
    margin-top: 5px;
    min-height: 900px;
}
footer{
    background-color: #cddafd;
    height: auto;
    border-radius: 5px;
}

footer h1{
    margin-left: 20px;
}

#Seccion3 ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
#Seccion3 ul li{
    text-decoration: none;
}

#Seccion3 ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer p{
    text-align: center;
}

/*Media query*/
@media(min-width:0px) and (max-width:999px){
    body, header, footer, .desarrollo{
        width: auto;
    }

    header img{
        height: 200px;
    }

    .desarrollo{
        display: block;
    }

    main, .desarrollo{
        width: auto;
        margin-right: 0px;
    }
    
    nav{
        width: auto;
        height: auto;
    }

    nav ul li a{
        width: auto;
        display: block;
        font-size: 20px;
        margin-right: 20px;
    }

    main article section{
        height: auto;
        width: auto;
    }

    main article #Seccion1{
        height: auto;
        width: auto;
    }
    #Seccion img{
        width: 350px;
    }
}