.descripcion{
	background-color: white;
	padding: 10px;
}
.cont{
	background-color: white;
	padding: 10px;
}

header{
	background-color: blue;
	display: flex;
	color: #E0FFFF;
}

nav{
	background-color: red;
	padding: 1px;
}

nav ul li{
	display: inline;
}

nav ul li a{
	text-decoration: none;
	margin-right: 10px;	
	color: #FFFFFF;
}

nav ul li a:hover{
	color: var(--color-principal);
}

body{
	width: 15%;
	min-width: 600px;
	margin: auto;
}