body{
	width: 80%;
	min-width: 700px;
	margin: auto;
}


header{
	background-image: url("imagen/fondo.jpg");
	display: flex;
}

h2{
	text-align: center;
	font-family: Candara;
}

h3{
	text-align: center;
	font-family: Candara;
}


.cont{
	background-color: #008080; 
}
.biografia{
	display: flex;
	padding: 5px;
}
p{
	text-align: justify;
}

audio{
  width:400px;
  padding:20px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

