
body{
    width: 900px;
    margin: auto;
}

.cont{
    background-color: #e5e5e5d2;
}

header{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: darkblue;
}

.form{
    padding: 15px;
}

table{
    padding: 15px;
    width: 100%;
}

th{
    border: solid rgb(21, 15, 80);
}

.tabla-estilo{
    padding: 15px;
    width: 100%;
    border: solid black;
    text-align: center;
}