:root {
	--fondo: #edead0;
	--color2: #bad2b9;
	--color3: #86baa1;
	--color4: #a0e8af;
	--color5: #3ab795;
}

body{
	width: 5%;
	min-width: 600px;
	margin: auto;
}

.contenido{
	background-color: white;
	padding: 10px;
}


header{
	background-color: black;
	display: flex;
	color: #FFFFFF;
}


h1{
	size: 200px;
	text-align: center;
}


nav{
	background-color: orange;
	padding: 1px;
}

nav ul{
}

nav ul li{
	display: inline;	
}

nav ul li a{
	text-decoration: none;
	margin-right: 10px;	
	color: #FFFFFF;
}

nav ul li a:hover{
	color: var(--color-principal);
}



.principal{
	display: flex;
}

main{
	width: 70%;
}


main, aside{
	padding: 10px;
}


aside{
	width: 30%;
}

.img1{
	float: left;
	margin-right: 20px;
}


p{
	text-align: justify;
}




footer{
	background-color: black;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
}

.red{
	color: #FF0000;
}

input [type="radio"], input[type="email"], input[type="nombre"]{
	width: 150px;
}

input{
	border-radius: 5px;
}

label{
	display: inline-block;
	width: 80px;
}