*{
    margin: 0px;
    padding: 0px;
}

h1,a{
    font-size: 30px;
    font-weight: 100;
}

body{
    width: 1000px;
    background-color: #61a5c2;
    margin: 0 auto;
}

.contenedor{
    border-radius: 9px;
    margin-bottom: 20px;
}

header{
    background-color: #eb2738;
    height: auto;
    display: flex;
    border-radius: 20px;
}

header h1{
    margin-top: 10px;
}

header p{
    margin-top: 10px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

header img{
    width: 200px;
    border-radius: 100%;
    margin-right: 30px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav{
    background-color: #f8c211;
    height: 80px;
    width: 990px;
    float: auto;
    border-radius: 20px;
    padding: 5px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li{
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a{
    text-decoration: none;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.principal{
    display: flex;
}

main{
    background-color: #1ea391;
    width: 100%;
    margin-right: 0px;
    border-radius: 20px;
}

main section{
    height: 100px;
}

article{
    background-color: #2972a0;
    border-radius: 20px;
    width: auto;
    height: auto;
}

section{
    background-color: #a8dadc;
    border-radius: 20px;
    margin-top: 5px;
    min-height: 500px;
}

section h1{
    margin-left: 10px;
}

section h2,h3{
    margin-left: 15px;

}

section p{
    font-size: 18px;
    margin-left: 15px;
}

section img{
    width: 400px;
    float: right;
}

#seccion2{
    min-height: 1200px;
}

#seccion3{
    min-height: 900px;
}

section ul li{
    margin-left: 40px;
    font-size: 16px;
}

.principal{
    padding: 10px;
}

footer{
    background-color: #055cb3;
    height: auto;
    border-radius: 20px;
}

footer h1{
    margin-left: 20px;
}

footer img{
    width: 70px;
    margin-left: 20px;
}


/*Diseno para celulares*/

@media(min-width:0px) and (max-width:999px){
    body, header, footer, .contenedor{
        width: auto;
    }

    header img{
        height: 200px;
    }

    .contenedor{
        display: block;
    }

    main, .contenedor{
        width: auto;
        margin-right: 0px;
    }
    
    nav{
        width: auto;
        height: auto;
    }

    nav ul li a{
        width: auto;
        display: block;
        font-size: 20px;
        margin-right: 20px;
    }

    main article section{
        height: auto;
        width: auto;
    }

    main article #seccion1{
        height: 600px;
    }

    footer img{
        width: 50px;
    }
}