body{
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background-color: cadetblue;
}

#pw{
    background-color: lightgreen;
}

#ing{
    background-color: plum;
}

#eoye{
    background-color: lightskyblue;
}

#in{
    background-color: turquoise;
}

#dnti{
    background-color: lightsalmon;
}

#si{
    background-color: palevioletred;
}

#Est{
    background-color: orangered;
}

